celery==5.0.5
Django
django==2.2.16
django-auditlog==0.4.7
django-cors-headers==3.7.0
python-decouple==3.8
django-filter==2.4.0
django-tenants==3.2.1
django-jazzmin==2.4.4
djangorestframework==3.12.2
djangorestframework-simplejwt==4.6.0
pytz==2020.5
psycopg2-binary==2.9.9
pycodestyle==2.6.0
